[submodule "python/pybind11"]
	path = python/pybind11
	url = https://github.com/pybind/pybind11
[submodule "submodules/helper"]
	path = submodules/helper
	url = https://github.com/ariadne-cps/helper
[submodule "submodules/logging"]
	path = submodules/logging
	url = https://github.com/ariadne-cps/logging
[submodule "submodules/threading"]
	path = submodules/threading
	url = https://github.com/ariadne-cps/threading
[submodule "submodules/configuration"]
	path = submodules/configuration
	url = https://github.com/ariadne-cps/configuration
